@using AluguelEquipamentos.Negocio.Models
@model EnderecoModel
@{
    ViewData["title"] = "Exluir Endereco";
}

<div class="container bg-dark p-5 rounded-5">
    <div class="mb-5 text-center">
        <h1 class="text-light">Excluir Cadastro Endereco</h1>
        
    </div>


    <form method="post" asp-controller="Endereco" asp-action="Excluir">

        <input type="hidden" asp-for="IdEndereco" />

        <div class="mb-3">
            <label for="Cep" class="form-label text-light">CEP:</label>
            <input type="text" class="form-control" asp-for="cep" id="CEP" placeholder="Digite CEP">
            <span class="text-danger" asp-validation-for="cep"></span>
        </div>
        <div class="mb-3">
            <label for="Estado" class="form-label text-light">Estado:</label>
            <input type="text" class="form-control" asp-for="state" id="Estado" placeholder="Digite Estado">
            <span class="text-danger" asp-validation-for="state"></span>
        </div>
        <div class="mb-3">
            <label for="Cidade" class="form-label text-light">Cidade:</label>
            <input type="text" class="form-control" asp-for="city" id="Cidade" placeholder="Digite Cidade">
            <span class="text-danger" asp-validation-for="city"></span>
        </div>
        <div class="mb-3">
            <label for="Bairro" class="form-label text-light">Bairro:</label>
            <input type="text" class="form-control" asp-for="neighborhood" id="Bairro" placeholder="Digite Bairro">
            <span class="text-danger" asp-validation-for="neighborhood"></span>
        </div>
        <div class="mb-3">
            <label for="Rua" class="form-label text-light">Rua:</label>
            <input type="text" class="form-control" asp-for="street" id="Rua" placeholder="Digite Rua">
            <span class="text-danger" asp-validation-for="street"></span>
        </div>

        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-danger w-50">Excluir</button>
            <a class=" btn btn-primary w-50" asp-controller="Endereco" asp-action="Index">Voltar</a>
        </div>

    </form>
</div>
