@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Outsourcing Equipamentos TI</h1>
  <p>Facilite a gestão dos equipamentos,alugue não compre.</p>
  <div>
      <img src="/img/TI.png"/>
  </div>
</div>
