@{
    ViewData["Title"] = "Politica Privacidade";
}
<h1>@ViewData["Title"]</h1>
<br/>
<div>
    <h2>Uso e Compartilhamento</h2>
    <p>Utilizamos seus dados para processar contratos, emitir notas fiscais e melhorar nossos serviços. Compartilhamos apenas com parceiros logísticos, instituições financeiras e autoridades quando necessário.</p>

    <h2>Seus Direitos</h2>
    <p>Você pode acessar, corrigir ou solicitar a exclusão dos seus dados. Também pode revogar consentimentos a qualquer momento.</p>

    <h2>Cookies</h2>
    <p>Utilizamos cookies para melhorar sua experiência. Você pode configurar seu navegador para gerenciá-los.</p>

    <h2>Contato</h2>
    <p>
        <strong>OutsourcingSa</strong><br>
        E-mail:FaleConosco@OutsourcingSa.com.br
        <br>

    </p>
</div>