@using AluguelEquipamentos.Negocio.Models
@model EquipamentoModel
@{
    ViewData["title"] = "Exluir Aluguel";
}

<div class="container bg-dark p-5 rounded-5">
    <div class="mb-5 text-center">
        <h1 class="text-light">Excluir Cadastro Aluguel</h1>
        
    </div>


    <form method="post" asp-controller="Aluguel" asp-action="Excluir">

        <input type="hidden" asp-for="Id" />

        <h2 class="text-light">Tem certeza que deseja excluir o registro do abaixo?</h2>

        <div class="mb-3">
            <label for="Cliente" class="form-label text-light">Cliente:</label>
            <input type="text" class="form-control" asp-for="Cliente" id="Cliente" placeholder="Digite nome cliente" disabled>
            <span class="text-danger" asp-validation-for="Cliente"></span>
        </div>
        <div class="mb-3">
            <label for="CNPJ" class="form-label text-light">CNPJ:</label>
            <input type="text" class="form-control" asp-for="CNPJ" id="CNPJ" placeholder="Digite CNPJ empresa" disabled>
            <span class="text-danger" asp-validation-for="CNPJ"></span>
        </div>
        <div class="mb-3">
            <label for="EquipamentoAlugado" class="form-label text-light">Equipamento Alugado</label>
            <input type="text" class="form-control" asp-for="EquipamentoAlugado" id="EquipamentoAlugado" placeholder="Qual equipamento está sendo alugado ?" disabled>
            <span class="text-danger" asp-validation-for="EquipamentoAlugado"></span>
        </div>

        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-danger w-50">Excluir</button>
            <a class=" btn btn-primary w-50" asp-controller="Aluguel" asp-action="Index">Voltar</a>
        </div>

    </form>
</div>
